<web-app>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.parkinglot.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>com.parkinglot.VehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/VehicleServlet</url-pattern>
    </servlet-mapping>
</web-app>